{% extends 'RappPageBundle:PartB:layout.html.twig' %}

{% block title %}Mvc learning page 3{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/rapppage/css/rapp.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

 {% block body %}
    <section>
        Hello Rapp !
    </section>
 {% endblock %}

 {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/rapppage/js/rapp.js') }}" type="text/javascript"></script>
{% endblock %}