{% extends 'RappTemplateBundle::rapp-layout.html.twig' %}

{% block topnav %}
    {% include 'RappPageBundle:Module:topMenu.html.twig' %}
{% endblock %}

{% block body %}
<div class="well" style="margin-top: 60px">
    <img src="{{ asset('bundles/rapppage/images/logo_rapp.png') }}"/>
</div>

{% endblock %}