<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Theme : {{ theme_name }}</a>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thèmes <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for tplt in templates %}
                        <li><a href="{{ path('ajtemaplte_example', {'theme_name': tplt }) }}">{{ tplt }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

        </div><!-- /.nav-collapse -->

    </div><!-- /.container -->
</div>
