{% extends 'RappTemplateBundle::ajnet-layout.html.twig' %}

{% block page_title %}Example des themes{% endblock %}

{% block css %}
{% if use_cdn == true %}
    {% include 'RappTemplateBundle:Modules:css_cdn.html.twig' with {'theme': theme_name} %}
{% else %}
    {% include 'RappTemplateBundle:Modules:css_local.html.twig' with {'theme': theme_name} %}
{% endif %}   
{% endblock %}


{% block topnav %}
    {% include 'RappTemplateBundle:Example:exampleMenu.html.twig' %}
{% endblock %}

{% block body %}    

<div class="page-header" id="banner">

  <div class="row">
    <div class="col-lg-6">
      <h1>{{ theme_name }}</h1>
    </div>

    <div class="col-lg-6">
      <div class="bsa well">
        <div id="bsap_1277971" class="bsarocks bsap_c466df00a3cd5ee8568b5c4983b6bb19"></div>
      </div>
    </div>

  </div>

</div>
      
{% include 'RappTemplateBundle:Example:navbar.html.twig' %}
{% include 'RappTemplateBundle:Example:buttons.html.twig' %}
{% include 'RappTemplateBundle:Example:typography.html.twig' %}
{% include 'RappTemplateBundle:Example:tables.html.twig' %}   
{% include 'RappTemplateBundle:Example:forms.html.twig' %}  
{% include 'RappTemplateBundle:Example:navs.html.twig' %}
{% include 'RappTemplateBundle:Example:indicators.html.twig' %}
{% include 'RappTemplateBundle:Example:progress_bars.html.twig' %}
{% include 'RappTemplateBundle:Example:containers.html.twig' %}
{% include 'RappTemplateBundle:Example:footers.html.twig' %}

{% endblock %}