parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    rapp_template_google_analytic_account: false
    rapp_template_use_cdn: false
    rapp_template_bootstrap_theme: default
    rapp_template_site_name: nom du site
    meta_robots: 'noindex,nofollow'
